
**/.DS_Store

Potential_Data_for_Proj_2/gottron-trec.tar.bz2

.ipynb_checkpoints/Project2-2-NodeNetworks - Airports-checkpoint.ipynb
.ipynb_checkpoints/Project2-2-NodeNetworks-checkpoint.ipynb
.ipynb_checkpoints/Week10-Document_Classification-checkpoint.ipynb
.ipynb_checkpoints/Final Project Proposal-checkpoint.ipynb
.DS_Store
